<div class="mdl-card mdl-shadow--2dp review_profile">
  <div class="mdl-card__title mdl-color--grey-100">
    <h2 class="mdl-card__title-text"><%= @opportunity_application.profile.full_name %></h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="field mdl-grid mdl-grid--no-spacing" data-age-group='<%= @opportunity_application.profile.age_group %>'>
      <div class="icon mdl-cell mdl-cell--2-col mdl-cell--1-col-phone"><div class="material-icons">cake</div></div>
      <div class="text mdl-cell mdl-cell--10-col mdl-cell--3-col-phone"><%= @opportunity_application.profile.age_group %></div>
    </div>
    <div class="field mdl-grid mdl-grid--no-spacing">
      <div class="icon mdl-cell mdl-cell--2-col mdl-cell--1-col-phone"><div class="material-icons">place</div></div>
      <div class="text mdl-cell mdl-cell--10-col mdl-cell--3-col-phone"><%= "#{@opportunity_application.profile.city}, #{@opportunity_application.profile.province}" %></div>
    </div>
    <div class="field mdl-grid mdl-grid--no-spacing">
      <div class="icon mdl-cell mdl-cell--2-col mdl-cell--1-col-phone"><div class="material-icons">email</div></div>
      <div class="text mdl-cell mdl-cell--10-col mdl-cell--3-col-phone">
        <%= link_to @opportunity_application.profile.email, "mailto:#{@opportunity_application.profile.email}", id: 'email' %>
        <div class="mdl-tooltip" data-mdl-for="email">Send email</div>
      </div>
    </div>
    <% unless @opportunity_application.profile.home_phone_number.empty? %>
      <div class="field mdl-grid mdl-grid--no-spacing">
        <div class="icon mdl-cell mdl-cell--2-col mdl-cell--1-col-phone"><div class="material-icons">phone</div></div>
        <div class="text mdl-cell mdl-cell--10-col mdl-cell--3-col-phone">
          <a id="home-phone" href="tel:<%= @opportunity_application.profile.home_phone_number %>"><%= @opportunity_application.profile.home_phone_number %></a>
          &nbsp;•&nbsp;
          <small>Home</small>
          <div class="mdl-tooltip" data-mdl-for="home-phone">Call phone (<%= @opportunity_application.profile.home_phone_number %>)</div>
        </div>
      </div>
    <% end %>
    <% unless @opportunity_application.profile.cell_phone_number.empty? %>
      <div class="field mdl-grid mdl-grid--no-spacing">
        <div class="icon mdl-cell mdl-cell--2-col mdl-cell--1-col-phone"><div class="material-icons">phone</div></div>
        <div class="text mdl-cell mdl-cell--10-col mdl-cell--3-col-phone">
          <a id="cell-phone" href="tel:<%= @opportunity_application.profile.cell_phone_number %>"><%= @opportunity_application.profile.cell_phone_number %></a>
          &nbsp;•&nbsp;
          <small>Mobile</small>
          <div class="mdl-tooltip" data-mdl-for="cell-phone">Call phone (<%= @opportunity_application.profile.cell_phone_number %>)</div>
        </div>
      </div>
    <% end %>
    <% unless @opportunity_application.profile.work_phone_number.empty? %>
      <div class="field mdl-grid mdl-grid--no-spacing">
        <div class="icon mdl-cell mdl-cell--2-col mdl-cell--1-col-phone"><div class="material-icons">phone</div></div>
        <div class="text mdl-cell mdl-cell--10-col mdl-cell--3-col-phone">
          <a id="work-phone" href="tel:<%= @opportunity_application.profile.work_phone_number %>"><%= @opportunity_application.profile.work_phone_number %></a>
          &nbsp;•&nbsp;
          <small>Work</small>
          <div class="mdl-tooltip" data-mdl-for="work-phone">Call phone (<%= @opportunity_application.profile.work_phone_number %>)</div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <% if policy(@opportunity_application.profile).show? %>
    <%= link_to 'Profile', @opportunity_application.profile, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
    <% end %>
    <% if policy(@opportunity_application).show? %>
    <%= link_to 'Application', @opportunity_application, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
    <% end %>
  </div>
</div>
