<script type="application/json" id='opportunity_application_statuses'><%= raw @opportunity_application_statuses %></script>
<div class="mdl-card mdl-shadow--2dp review_status">
  <div class="mdl-card__title mdl-color--grey-100">
    <h3 class="mdl-card__title-text">Review</h3>
  </div>
  <div class="mdl-card__supporting-text">
    <%= hidden_field :opportunity_application, :choices %>
    <%= form_for @opportunity_application, remote: true do |f| %>
      <%= f.hidden_field :opportunity_application_status_id %>
      <h6>Accepted as</h6>
      <%= f.hidden_field :accepted_volunteer_opportunity_id %>
      <select id="select_accepted_volunteer_opportunity_id">
        <option value></option>
      </select>
      <h6>Coordinator notes</h6>
      <div class="fr-box fr-basic fr-top">
        <div class="fr-wrapper">
          <%= f.text_area :coordinator_notes, {class: "fr-element", spellcheck: true, placeholder: 'Type something'} %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>
