<p>
  <strong>Profile:</strong>
  <%= @opportunity_application.profile %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @opportunity_application.availability %>
</p>

<p>
  <strong>Choices:</strong>
  <%= @opportunity_application.choices %>
</p>

<p>
  <strong>Status:</strong>
  <%= @opportunity_application.opportunity_application_status.name %>
</p>

<% if policy(OpportunityApplication).accept? %>
<p>
  <strong>Coordinator notes:</strong>
  <%= @opportunity_application.coordinator_notes %>
</p>
<% end %>

<p>
  <strong>Submitted:</strong>
  <%= @opportunity_application.submitted %>
</p>

<%= link_to 'Edit', edit_opportunity_application_path(@opportunity_application) %> |
<%= link_to 'Back', opportunity_applications_path %>
