<script>
  window.festival_start_date = "<%= @active_event.start_date.strftime('%Y-%m-%d') %>"
  window.festival_end_date = "<%= @active_event.end_date.strftime('%Y-%m-%d') %>"
  window.max_num_choices = "<%= @max_num_choices %>"
</script>
<span><i class="fab fa-info-circle">&nbsp;</i>Please note that you can return to a previous step at anytime and that your changes in each step will be saved upon clicking the continue button.</span>
<ul class="mdl-stepper mdl-stepper--linear mdl-stepper--feedback">
  <%= render 'profile_step' %>
  <%= render 'availability_step' %>
  <%= render 'rank_choices_step' %>
</ul>
