

<p>
  <strong>Auth0:</strong>
  <%= @profile.auth0_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @profile.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @profile.postal_code %>
</p>

<p>
  <strong>Home phone number:</strong>
  <%= @profile.home_phone_number %>
</p>

<p>
  <strong>Cell phone number:</strong>
  <%= @profile.cell_phone_number %>
</p>

<p>
  <strong>Work phone number:</strong>
  <%= @profile.work_phone_number %>
</p>

<p>
  <strong>T shirt size:</strong>
  <%= @profile.t_shirt_size %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @profile.age_group %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @profile.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact number:</strong>
  <%= @profile.emergency_contact_number %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @profile.notes %>
</p>

<p>
  <strong>Code of conduct:</strong>
  <%= @profile.code_of_conduct %>
</p>

<% if policy(@profile).edit? %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
