<% if @registration_text %>
<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h3><%= @registration_text %></h3>
    </div>
  </div>
</section>
<% end %>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" style="background-color: yellow;">
    <%= image_tag '/jazzfestlogo.png', style: 'max-width:90%;max-height:90%;' %>
  </header>
  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
    <div class="mdl-card__supporting-text">
      <h4>Volunteer at the Ottawa Jazz Festival</h4>
      <p>
        The Ottawa International Jazz Festival is a celebration of the world's best jazz artists each
        summer in the heart of downtown Ottawa.
      </p>
    </div>
    <div class="mdl-card__actions">
      <a href="http://ottawajazzfestival.com/" target="_BLANK">Official Website</a>
      <a href="http://ottawajazzfestival.com/map" target="_BLANK">Map</a>
      <a href="http://ottawajazzfestival.com/faqs" target="_BLANK">Jazz Festival FAQs</a>
      <%= link_to 'Help', help_path %>
    </div>
  </div>
</section>

<section class="section-dates section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">
        <% if @festival_start_date %>
          Volunteers are needed between <%= @festival_start_date %>
          and <%= @festival_end_date %>.
        <% else %>
          We are not actively recruiting right now. Please check again later.
        <% end %>
      </h4>
    </div>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">How to Apply</h4>
      <div class="font-icon-step-container mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
        <div class="font-icon-step"><i class="fa fa-user"></i></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
        <h5>Sign Up</h5>
        You can use sign up using Facebook, Twitter, Google, Microsoft to avoid remembering another password or use your email.
        After signing up, you will be redirected to the application page.
      </div>
      <div class="font-icon-step-container mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
        <div class="font-icon-step"><i class="fa fa-address-book"></i></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
        <h5>Profile</h5>
        Tell us about yourself and what you can do.
      </div>
      <div class="font-icon-step-container mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
        <div class="font-icon-step"><i class="fa fa-calendar-check"></i></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
        <h5>Availability</h5>
        Indicate which dates you're available to volunteer on.
      </div>
      <div class="font-icon-step-container mdl-cell mdl-cell--1-col mdl-cell--1-col-phone">
        <div class="font-icon-step"><i class="fa fa-list-ol"></i></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--11-col-desktop mdl-cell--7-col-tablet mdl-cell--3-col-phone">
        <h5>Apply to opportunities</h5>
        Indicate and rank which volunteer opportunities interest you.
      </div>
    </div>
    <div class="mdl-card__actions">
      <%= link_to 'Login / Sign up', login_path, method: :post, class: '' %>
      <%= link_to 'Volunteer Opportunities', volunteer_opportunities_path %>
      <%= link_to 'Code of Conduct', code_of_conduct_path %>
    </div>
  </div>
</section>