<%= form_for(volunteer_opportunity) do |f| %>
  <% if volunteer_opportunity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(volunteer_opportunity.errors.count, "error") %> prohibited this volunteer_opportunity from being saved:</h2>

      <ul>
      <% volunteer_opportunity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <div class="fr-box fr-basic fr-top">
      <div class="fr-wrapper">
        <%= f.text_area :title, {class: "fr-element", spellcheck: true, placeholder: 'Type something'} %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :objective %>
    <%= f.text_area :objective %>
  </div>

  <div class="field">
    <%= f.label :duties_and_responsibilities %>
    <%= f.text_area :duties_and_responsibilities %>
  </div>

  <div class="field">
    <%= f.label :qualifications_and_requirements %>
    <%= f.text_area :qualifications_and_requirements %>
  </div>

  <div class="field">
    <%= f.label :shifts %>
    <%= f.text_area :shifts %>
  </div>

  <div class="field">
    <%= f.label :visible %>
    <%= f.check_box :visible %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
