<h1>Volunteer Opportunities</h1>

<% if policy(VolunteerOpportunity).new? %>
<%= link_to 'New Volunteer Opportunity', new_volunteer_opportunity_path %>
<% end %>

<div class="volunteer_opportunity-cards">
  <% if @volunteer_opportunities.empty? %>
    <h2>There are no opportunities to display yet.</h2>
    <h3><span class="fa fa-frown-o">&nbsp;</span></h3>
  <% else %>
    <% @volunteer_opportunities.each do |volunteer_opportunity| %>
      <div class="volunteer_opportunity-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
          <div class="mdl-card__title-text">
            <% if policy(VolunteerOpportunity).edit? %>
              <span class="fa fa-<%= volunteer_opportunity.visible ? 'eye' : 'eye-slash' %>">&nbsp;</span>
            <% end %>
            <span><%= volunteer_opportunity.title %></span>
          </div>
        </div>
        <div class="mdl-card__supporting-text">
          <h6 class='mdl-color-text--pink'>Objective</h6>
          <div class='fr-view'><%= volunteer_opportunity.objective.html_safe %></div>
          <h6 class='mdl-color-text--pink'></h6>
          <h6 class='mdl-color-text--pink'>Shifts</h6>
          <div class='fr-view'><%= volunteer_opportunity.shifts.html_safe %></div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to 'More Info', volunteer_opportunity %>
          <%= link_to 'Apply', apply_path(volunteer_opportunity_id: volunteer_opportunity.id) %>
          <% if policy(VolunteerOpportunity).edit? %>
          <%= link_to 'Edit', edit_volunteer_opportunity_path(volunteer_opportunity) %>
          <% end %>
          <% if policy(volunteer_opportunity).destroy? %>
          <%= link_to 'Destroy', volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
