<div class="volunteer_opportunity-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
    <div class="mdl-card__title-text">
      <% if policy(VolunteerOpportunity).edit? %>
        <span class="fab fa-<%= @volunteer_opportunity.visible ? 'eye' : 'eye-slash' %>">&nbsp;</span>
      <% end %>
      <span><%= @volunteer_opportunity.title %></span>
    </div>
  </div>
  <div class="mdl-card__supporting-text">
    <h6 class='mdl-color-text--pink'>Objective</h6>
    <div class='fr-view'><%= @volunteer_opportunity.objective.html_safe %></div>
    <h6 class='mdl-color-text--pink'>Duties &amp; Responsibilities</h6>
    <div class='fr-view'><%= @volunteer_opportunity.duties_and_responsibilities.html_safe %></div>
    <h6 class='mdl-color-text--pink'>Qualifications &amp; Requirements</h6>
    <div class='fr-view'><%= @volunteer_opportunity.qualifications_and_requirements.html_safe %></div>
    <h6 class='mdl-color-text--pink'>Shifts</h6>
    <div class='fr-view'><%= @volunteer_opportunity.shifts.html_safe %></div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to 'Back', volunteer_opportunities_path %>
    <% if policy(VolunteerOpportunity).edit? %>
    <%= link_to 'Edit', edit_volunteer_opportunity_path(@volunteer_opportunity) %>
    <% end %>
    <% if policy(@volunteer_opportunity).destroy? %>
    <%= link_to 'Destroy', @volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
