<div class="volunteer_opportunity-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <div class="mdl-card__title-text fr-view"><%= @volunteer_opportunity.title.html_safe %></div>
  </div>
  <div class="mdl-card__supporting-text">
    <h6>Objective</h6>
    <div class='fr-view'><%= @volunteer_opportunity.objective.html_safe %></div>
    <h6>Duties &amp; Responsibilities</h6>
    <div class='fr-view'><%= @volunteer_opportunity.duties_and_responsibilities.html_safe %></div>
    <h6>Qualifications &amp; Requirements</h6>
    <div class='fr-view'><%= @volunteer_opportunity.qualifications_and_requirements.html_safe %></div>
    <h6>Shifts</h6>
    <div class='fr-view'><%= @volunteer_opportunity.shifts.html_safe %></div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to 'Back', volunteer_opportunities_path %>
    <% if policy(VolunteerOpportunity).edit? %>
    <%= link_to 'Edit', edit_volunteer_opportunity_path(@volunteer_opportunity) %>
    <% end %>
    <% if policy(VolunteerOpportunity).destroy? %>
    <%= link_to 'Destroy', @volunteer_opportunity, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
