<!DOCTYPE html>
<html lang='<%= locale %>'>
  <head>
    <title>
      <% if content_for?(:page_title) %>
        <%= appname %> | <%= yield(:page_title) %>
      <% else %>
        <%= appname %>
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <% if content_for?(:page_description) %>
    <meta name="description" content="<%= yield(:page_description) %>"/>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">Rollbar.configure({payload: {person: <%= raw (current_user_for_rollbar_js) %> }});</script>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main>
    <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
