<!DOCTYPE html>
<html lang='<%= locale %>'>
  <head>
    <title>
      <% if content_for?(:page_title) %>
        <%= appname %> | <%= yield(:page_title) %>
      <% else %>
        <%= appname %>
      <% end %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <% if content_for?(:page_description) %>
    <meta name="description" content="<%= yield(:page_description) %>"/>
    <% end %>

    <script type="esms-options">
    {
      "polyfillEnable": ["css-modules", "json-modules"]
    }
    </script>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main>
    <%= render "layouts/notifications" if !flash.empty? %>
    <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
